@import url(reset.css);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  touch-action: manipulation;
  overscroll-behavior: none;
  background-color: #ececec;
}

body {
  height: 100vh;

  font-family: "Poppins", system-ui, sans-serif;
  overflow: hidden;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header,main,footer{
  width: 320px;
}

header, footer{
  height: 10vh;
  margin: 0  auto;
}

footer{
  align-self: center;
}

main{
  height: 80vh;
  display: flex;
  flex-direction: column;
  margin:  0 auto;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 100%;
  margin:  0 auto;
  height: 80px;
}

.contenedor__logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.logo__icon{
  width: 32px;
}

.logo__nombre{
  font-size: 24px;
  color:#DC143C;
  font-weight: bold;
}

.nav__paw{
  width: 24px;
}

.pet{
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pet_detalles{
   width: 320px;
  height: 480px;
}

.pet_detalle{
  width: 320px;
  height: 480px;
  position: absolute;
}

.pet__empty{
  width: 320px;
  height: 480px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.pet__paw{
  opacity: 0.15;
  width: 40px;
}

.pet__img{
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: inherit;
}

.pet__info{
  position: absolute;
  left:15px;
  bottom:35px;
  font-size: 20px;
  color:#fff;
  border-radius: 16px;
}

.pet__nombre{
  font-size: 32px;
  font-weight: bold;
}

.pet__funciones{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:25px;
  flex-direction: row;
  margin-top: 30px;
}

.pet__funciones img{
  padding: 18px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.pet__funciones .match__img{
  background: linear-gradient(to right, #DC143C, #800080);
  padding: 26px;
}

footer{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__enlace a{
text-decoration: none;
color:#1E7DDD;
}

/* Fase 2*/
.matches{
  display: flex;
  position: relative;
}

.match-count{
  background-color: crimson;
  border-radius: 50%;
  position: absolute;
  font-size: 0.620rem;
  padding: 0.25rem;
  height: 16px;
  width: 16px;
  text-align: center;
  color:#fff;
  font-weight: 600;
  top:27%;
  right: -2px;
}